<!-- edit-position.component.html -->
<form [formGroup]="positionForm" (ngSubmit)="onSubmit()" class="position-form">
    <div class="form-group">
      <label for="positionName">Position Name:</label>
      <input type="text" formControlName="positionName" />
    </div>
    <div class="form-group">
      <label for="entryDate">Entry Date:</label>
      <input type="date" formControlName="entryDate" />
    </div>
    <div class="form-group">
      <label for="isManagement">Management Position:</label>
      <input type="checkbox" formControlName="isManagement" />
    </div>
    <section>
      <div class="button-group">
        <button mat-raised-button class="save-button" type="submit">Save</button>
        <button mat-raised-button class="cancel-button" (click)="onCancel()">Cancel</button>
      </div>
    </section>
  </form>
  